<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='index.css') }}"
		/>
		<title>동물 얼굴 필터</title>
	</head>
	<body>
		<h1>동물 얼굴 필터</h1>
		<div class="result-box">
			{% for imgName in imageNames %}
			<a href="{{imgName}}" target="_blank">
				<img src="{{imgName}}" alt="{{imgName}}" />
			</a>
			<input type="button" onclick={
				({{imgName}}) = {
					const url = ;
				};
			} id="{{imgName}}">
				{{imgName}}
			</input>
			{% endfor%}
		</div>
		<script>
			
		</script>
	</body>
</html>
